// Variables

// Colours
$black: #000;
$white: #fff;

// Fonts
$sans: 'Montserrat', sans-serif;
$serif: 'Calluna', serif;

// Dimensions
$contentwidth: 1240px;

// Media query breakpoints
$small: 420;
$medium: 768;
$large: 980;
$large-plus:1024;
$xlarge: 1200;